<script id="feedback-layout-template" type="text/template">

  <form id="feedback-form">

    <a href="javascript:;" class="close ss-icon ss-pika ss-delete ss-location"></a>

    <span class="title">Send Us Your Feedback</span>

    <input type="text" autocomplete="off" name="name" id="feedback-name" placeholder="name" />
    <input type="text" autocomplete="off" name="email" id="feedback-email" placeholder="email" />
    <input type="text" autocomplete="off" name="purpose" id="feedback-purpose" placeholder="purpose" />
    <textarea name="comments" id='feedback-comments'></textarea>

    <p class="feedback-errors">
    </p>

    <button class="button lighter-green">SUBMIT</button>

  </form>

</script>