<script id="map-layout-template" type="text/template">

  <!-- loaded inside MapLayout.js
  <div id="map-layout-container">
  -->

  <div id="map-container">
  </div>

  <div class="map-click-overlay">
  </div>

  <!-- loaded inside MapLayout.js
  </div>
  -->

</script>