<script id="results-layout-template" type="text/template">
  <!-- loaded inside MapLayout.js <div id="results-layout-container"> -->

  <div class="row">
    <div class="columns large-12">
      <span class="results-title">
        The following results best matched your search.
      </span>
    </div>
  </div>

  <div id="results-container" class="row">
  </div><!-- results-container -->

  <!-- </div>-->
</script>