<script id="start-layout-template" type="text/template">

  <!-- Found inside StartLayout.js <div id="start-layout-container"> -->

    <div class="row">

      <div class="columns large-12">

        <div class="columns large-1"></div>

        <div class="columns large-8">

          <p class="start-title">
            Find your next parks adventure <br> by searching above.
          </p>

          <div class="row">

            <div class="columns large-8">

              <a id="guide-trigger" class="button start lighter-green" href="javascript:;">Guide Me</a>
              <a id="all-trigger" class="button start lighter-green" href="javascript:;">Or, View All Parks</a>

            </div>

          </div><!-- row -->

        </div>

      </div>

    </div><!-- row -->

  <!-- </div> -->

</script>