<script id="start-layout-template" type="text/template">

  <!-- Found inside StartLayout.js <div id="start-layout-container"> -->

    <div class="row">

      <div class="columns large-12 large-centered">

        <p class="start-title">
          Begin exploring Broomfield’s <br/> parks via search.
        </p>

        <p class="start-subtitle">
          SEARCH <a id="guide-trigger" href="javascript:;">GUIDE</a> TO VIEW SUGGESTIONS, <a id="all-trigger" href="javascript:;">ALL</a> TO BROWSE EACH PARK
        </p>

      </div>

    </div><!-- row -->

  <!-- </div> -->

</script>