
//
// SEARCH BAR
//

.search-bar-container{
  background-color:$white;
  height:75px;
  padding:0;
  position:relative;
  @include box-shadow(0 3px 10px rgba(0,0,0,.15));
  @include opacity(.9);
  @include transition(box-shadow $fast linear, opacity $fast linear);

  &.has-focus{
    @include box-shadow(0 3px 10px rgba(0,0,0,.35));
    @include opacity(1);
  }

}

.search-bar-left-container{
  height:75px;
  left:0;
  position:absolute;
  top:0;
  width: 1020px;
  z-index:2;
}

.search-bar-right-container{
  background-color:$green;
  height:75px;
  position:absolute;
  right:0;
  top:0;
  width:150px;
  z-index:3;
}

input[name='search-text']{
  border:none;
  color:$dark-green;
  height:40px;
  display:block;
  margin-top:23px;
  outline:none;
  padding-left:15px;

  @include box-shadow(none);
  @include calc(width, "100% - 95px");
  @include font("NeueLight", 30px, 32px);
}

.search-button-container{
  height: 75px;
  position:absolute;
  right:0;
  top:0;
  width: 75px;

  button{
    background:transparent;
    border:none;
    display:block;
    height:100%;
    left:0;
    outline:none;
    padding:0;
    position:absolute;
    width:100%;
    top:0;
  }

  &.is-searching{

    #search-button{
      z-index:-1;
      @include opacity(0);
    }

    #clear-search-button{
      z-index:1;
      @include opacity(1);
    }

  }

}

.search-button{
  background-color: $white;
  background-position: center center;
  background-size: 40px 40px;
  background-repeat: no-repeat;
  @include transition(opacity $fast linear);
}

#search-button{
  @extend .search-button;
  background-image:url(/images/icon-search.png);
  z-index:1;
  @include opacity(1);
}

#clear-search-button{
  @extend .search-button;
  background-image:url(/images/icon-x.png);
  z-index:-1;
  @include opacity(0);
}

.green-nav-button{
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  border:none;
  display:block;
  float:left;
  height:75px;
  outline:none;
  width:75px;
  @include transition(box-shadow 50ms linear);

  &:active{
    @include box-shadow(inset 0 0 15px rgba(0,0,0,.13));
  }

}

#goto-map-button{
  @extend .green-nav-button;
  background-size: 20px 24px;
  background-image:url(/images/icon-nav-pin.png);
  border-right:1px solid #6eb567;
}

#map-options-button{
  @extend .green-nav-button;
  background-size: 21px 24px;
  background-image:url(/images/icon-menu.png);
  position:absolute;
  top:0;
  right:0;
}

.map-options-container{
  background-color:$green;
  border-left:1px solid #85d67e;
  float:left;
  height:75px;
  overflow:hidden;
  width:0;
}

.map-options-content-container{
  height:75px;
  width:423px;

  span, a{
    @include font("FuturaBold", 14px, 78px);
  }

  span{
    color:$dark-green;
    padding: 0 30px 0 30px;
  }
  a{
    color: $light-green;
    @include transition(color $fast linear);

    &.is-active, &:hover{
      color:$white;
    }
    &+a{
      margin-left:25px;
    }

  }
}

// defining the is-open state here -- many styles for base
// elements are defined above

.search-bar-container.is-open{

  /*
  .search-bar-right-container{
    width:500px;
  }

  .map-options-button{
    @include opacity(0);
  }

  .map-options-container{
    width:423px;
  }
  */

}



//
// START PAGE
//

.backstretch{
  img{
    @include filter(blur(5px));
  }
}

#start-layout-container{

  background-color:transparent;
  margin-top:240px;

  p{
    text-align:center;
    a{
      border-bottom:1px dotted $black;
      color:$black;
    }
  }
}

.start-title{
  color:$darker-green;
  @include font("FuturaLight", 72px, 72px);
}

.start-subtitle{
  color:$black;
  @include font("FuturaBold", 18px, 24px);
}