<script id="direct-to-map-item-view-template" type="text/template">

 <!-- Found in DirectToMapItemView.js <div class="result-container columns large-4"> -->

    <a href="javascript:;" class="result-container direct-to-map">

    <div class="result-image-container">
      <!--

      If we want to lazy load use this instead

      <img class="lazy" src="/images/image-load-dot.png" data-original="/images/placeholder-result-1.png" />

      -->

      <img src="/images/bg-direct-map-view.png" />
    </div>

    <div class="result-content-container">
      <div class="row result-title-row">
        <p class="columns large-8 result-title">
          Direct Map View
        </p>
      </div><!-- row -->
      <div class="row">
        <p class="result-description columns large-12">
          Search the map directly for local park information, photos, and directions.
        </p>
      </div>
    </div>

    </a>

  <!-- </div> -->

</script>