<script id="park-detail-item-view-template" type="text/template">

  <!-- Added in ParkDetailItemView.js <div class="park-detail-container columns large-12"> -->

  <div class="row">

    <div id='park-detail-gallery-container' class="columns large-8">
      <img class="placeholder" src="/images/placeholder-detail-gallery-1.png" />
      <img class="placeholder"  src="/images/placeholder-detail-gallery-2.png" />
      <img class="dummy"  src="/images/placeholder-detail-gallery.png" />
      <a id="park-detail-gallery-left" class="ss-icon ss-standard" href="javascript:;">previous</a>
      <a id="park-detail-gallery-right" class="ss-icon ss-standard" href="javascript:;">next</a>
    </div><!-- #park-detail-gallery-container -->

    <div id='park-detail-info-container' class="columns large-4">
      <a href="javascript:;" class="close ss-icon ss-pika">close</a>
      <h1>Kohl Park</h1>
      <address>
        2590 13th Ave & Birch Street <br />
        Broomfield, CO
      </address>
      <p>
        Kohl Park is kogi four loko Truffaut seitan, jean shorts master cleanse mlkshk blue bottle stumptown wayfarers Pinterest irony. Flexitarian kogi bitters keytar. Jean shorts Vice semiotics hashtag.
      </p>
      <h2>Amenities</h2>
      <p>
        Baseball Field, Basketball Court, Benches, Offstreet Parking, Jean Shorts, Lo-fi, Wes Anderson Twee Bitters.
      </p>
      <h2>Directions</h2>
      <p>
        From US-36, next level aesthetic neutra swag pickled, keffiyeh literally tattooed irony plaid single-origin coffee.
      </p>
      <a class="button orange" href=""><span class="ss-icon ss-pika">location</span>Map It</a>
    </div><!-- #park-detail-gallery-container -->

  </div><!-- row -->

  <!-- </div> park-detail-container -->

</script>