<script id="park-detail-item-view-template" type="text/template">

  <!-- Added in ParkDetailItemView.js <div class="park-detail-container columns large-12"> -->

  <div class="row">

    <div id='park-detail-gallery-container' class="columns large-8">
      <% _.each(gallery_images, function(image){ %>
      <img class="placeholder" src="<%= image %>" />
      <% }) %>
      <img class="dummy"  src="/images/placeholder-detail-gallery.png" />
      <a id="park-detail-gallery-left" class="ss-icon ss-standard" href="javascript:;">previous</a>
      <a id="park-detail-gallery-right" class="ss-icon ss-standard" href="javascript:;">next</a>
    </div><!-- #park-detail-gallery-container -->

    <div id='park-detail-info-container' class="columns large-4">
      <a href="javascript:;" class="close ss-icon ss-pika">close</a>
      <h1>
        <%= place_name %>
      </h1>
      <address>
        <%= address %> <br />
        <%= city %>, <%= state %>
      </address>
      <p>
        <%= description %>
      </p>
      <h2>Amenities</h2>
      <p>
        <%= facilities %>
      </p>
      <h2>Directions</h2>
      <p>
        <%= general_directions %>
      </p>
      <a class="button orange map-it-button" href="javascript:;" data-park-id="<%= gis_id %>"><span class="ss-icon ss-pika">location</span>Map It </a>
    </div><!-- #park-detail-gallery-container -->

  </div><!-- row -->

  <!-- </div> park-detail-container -->

</script>