<script id="park-detail-item-view-template" type="text/template">

  <!-- Added in ParkDetailItemView.js <div class="park-detail-container columns large-12"> -->

  jask;ldjfa;lksjdfa;klsjdfas;df

  <!-- </div> park-detail-container -->

</script>