<script id="popup-item-view-template" type="text/template">

  <div class="popup-header-container">
    <p>
      <%= place_name %>
    </p>
  </div><!-- popup-header-container -->
  <ul class="popup-links">
    <li>
      <a class="more-information" href="/park/<%= safe_place_name %>">
        <span class="ss-icon ss-pika">notepad</span>
        MORE INFORMATION
      </a>
    </li>
    <li>
      <a class="get-directions" href="javascript:;"><span class="icon-google-maps">&nbsp;</span>GET DIRECTIONS</a>
    </li>
  </ul>

</script>