<script id="result-item-view-template" type="text/template">

  <!-- Added in ResultItemView.js <div class="result-container columns large-4"> -->

    <div class="result-container">

    <div class="result-image-container">
      <!--

      If we want to lazy load use this instead

      <img class="lazy" src="/images/image-load-dot.png" data-original="/images/placeholder-result-1.png" />

      -->

      <img src="/images/placeholder-result-1.png" />
    </div>

    <div class="result-content-container">
      <div class="row result-title-row">
        <p class="columns large-8 result-title">
          Title Park
        </p>
        <div class="columns large-4 result-icons-container">
          <a class="result-show-details ss-icon ss-pika" href="/park/name">
            notepad
          </a>
          <a class="result-show-pin ss-icon ss-pika" href="javascript:;">location</a>
        </div>
      </div><!-- row -->
      <div class="row">
        <p class="result-amenities columns large-12">
          Baseball Field, Basketball Court, Benches, Offstreet Parking
        </p>
      </div>
    </div>

    </div>

  <!-- </div> result-container -->

</script>