html {
  -webkit-font-smoothing: antialiased;
  overflow-y: scroll;
}

.spinner{
  position:fixed !important;
  top:50% !important;
  left:50% !important;
}

#search-bar-layout-container{
  position:fixed;
  top:60px;
  width:100%;
  z-index:10
}

#content-region-container{
  position:relative;
  z-index:1;
}

#blur-layer{
  background-color:$white;
  position:fixed;
  height:100%;
  top:0;
  left:0;
  width:100%;
  z-index:1;
  @include opacity(.5);

}

#map-region-container{
  height:100%;
  left:0;
  position:fixed;
  top:0;
  width:100%;
  z-index:0;
}

#map-layout-container{
  position:absolute;
  height:100%;
  width:100%;
  z-index:0;

  img{
    @include filter(blur(5px));
    @include transition(all $fast linear);
  }

  &.is-active{
    img{
      @include filter(blur(0));
    }
  }

}

#start-layout-container{
  margin-top:240px;
}

#results-layout-container{
  margin-top:180px;
}

#park-detail-layout-container{
  margin-top:180px;
}




