{# title Home #}

{% extends 'layouts/master.twig' %}

{% block inline %}
{% endblock inline %}

{% block content %}

<div id="search-region-container">
</div><!-- search-region-container -->

<div id="content-region-container">
</div><!-- content-region-container -->

<!--
<div id="blur-layer">
</div>
-->

<div id="map-region-container">
</div><!-- map-region-container-->

{{ template }}

{% endblock content %}