<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>

      {% block meta %}
      <meta charset="utf-8">
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width">
      {% endblock %}

      <title>City of Broomfield Parks Search</title>

      {% block link %}
      {% endblock %}

      {% include 'partials/header_styles.html' %}

    </head>
    <body>

    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->

    <div class="container">
        {% block content %}{{ content|raw }}{% endblock content %}
    </div>

    {% block inline%}{% endblock inline %}

    {% block script %}
    {% endblock %}

    {% for template in templates %}
    {% include template %}
    {% endfor %}

    <script>
    window.mapoptions = {
        toolItems: [
            {name: 'Search', eventToRaise: 'View:Search', iconclass: 'entypo-search'},
            {name: 'Layer List', eventToRaise: 'View:LayerList', iconclass: 'entypo-map'},
        ],
        mapConfig :{
            initialExtent: { "xmin": -11699191, "ymin": 4853633, "xmax": -11692391, "ymax": 4856274, "spatialReference": { "wkid": 102100 } },
        centerPoint: {},
            basemaps: [
                {
                    name: 'Topo Map',
                    label:'topo',
                    type: 'ArcGISTiledMapServiceLayer',
                    visible: true,
                    url: 'http://server.arcgisonline.com/ArcGIS/rest/services/World_Topo_Map/MapServer'
                },
                {
                    name: 'Satellite Imagery',
                    label:'satellite',
                    type: 'ArcGISTiledMapServiceLayer',
                    visible: false,
                    url: 'http://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer'
                },

            ],
            operationalLayers: [
                {
                    name: 'Broomfield Parks',
                    url: 'http://test.broomfield.org/arcgis/rest/services/Parks/FindAParkOrange/MapServer',
                    type: 'ArcGISDynamicMapServiceLayer',
                    visibleLayers: [0,1,2,3,4],
                    visible: true,
                    opacity: 0.8
                }
            ] ,
        },
        appRoot:'marionette-map'
    };
    </script>

    {% include 'partials/footer_scripts.html' %}

    </body>
</html>
